div.highlight {
  font-size: 0.75em;
}

@media(min-width:576px) {
  div.highlight {
    font-size: 0.65em;
  }
}

@media(min-width:768px) {
  div.highlight {
    font-size: 0.86em;
  }

}

@media (min-width: 1024px) {
  body>header .container {
    max-width: 100%;
  }

  body>header.is-fixed-above-lg {
    padding: 0 1.0em 0 0;
  }

  div.highlight {
    font-size: 0.80em;
  }
}

@media (min-width: 1280px) {
  body>main:has(aside#table-of-contents) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 11.0rem 1fr 11.0rem;
    grid-template-areas: "menu header table-of-content" "menu body table-of-content";
  }

  body>main.has-table-of-contents {
    grid-template-rows: auto 1fr;
    grid-template-columns: 11.0rem 1fr 11.0rem;
    grid-template-areas: "menu header table-of-content" "menu body table-of-content"
  }

  div.highlight

    {
    font-size: 0.70em;
  }

}